{% extends 'lottery/base.html' %}

{% block title %} Add a Bucket! {% endblock %}

{% block body_block %}
	<div class="hero-unit">
      <h1> Add a bucket!</h1>
	  
	  <form id="bucket_form" method="post" action="/lottery/add_bucket/">
	  
		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		
		{% for field in form.visible_fields %}
			{{ field.errors }}
			{{ field.help_text }}
			{{ field }}
		{% endfor %}
		
		<input type="submit" name="submit" value="Create bucket "/>
	  
	</div>  
{% endblock %}