{% extends 'lottery/base.html' %}

{% block title %} {{ bucket }} {% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h1>{{ bucket }}</h1>
		{% if bucket %}
			{% if slip %}
			<ul>
				{% for i in slip %}
				<li>{{ i.name }}</a></li>
				{% endfor %}
			</ul>
			{% else %}
				<strong> DERP</strong>
			{% endif %}
		{% else %}
			The bucket {{ bucket }} does not exist
		{% endif %}
		{{ papers }}
		{{ slip }}
		<br />
		<a href="/lottery/bucket/{{ bucket_name_url }}/add_choice/"> Add a slip</a><br />
		{% if slip %}
			<a href="/lottery/bucket/{{ bucket_name_url }}/{{ slip_pulled }}/"> Pull a slip</a>
			{% else %}
			<p>you must add a slip</p>
		{% endif %}
	</div>
{% endblock %}