{% extends 'lottery/base.html' %}

{% block title %} Your Mom {% endblock %}

	{% block body_block %}
	<div class="hero-unit">
		{% if user.is_authenticated %}
			<h1>Your Mom says... hello {{ user.username }}!</h1>
			{% else %}
			<h1>Your Mom says you need to Register to add Buckets or Slips!</h1>
		{% endif %}
			hello world! <strong>{{ boldmessage }}</strong><br />
			{% load static %}
			<img src={% static "booritter.jpeg" %} /><br />
		
		
		
		{% if buckets %}
			<h2>Buckets</h2>
			<ul>
				{% for bucket in buckets %}
				<li><a href="/lottery/bucket/{{ bucket.url }}">{{ bucket.name }}</a></li>
				{% endfor%}
			</ul>
		{% else %}
			<strong> NOPE </strong>
		{% endif %}
	</div>
	{% endblock %}

</html>