<!DOCTYPE html>

{% load static %}
<html>

    <head>
        <title>Your Mom's</title>
    </head>

    <body>
		{% if user.is_authenticated %}
		<h1>Your Mom says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Your Mom says you need to Register!</h1>
		{% endif %}
        hello world! <strong>{{ boldmessage }}</strong><br />
        <a href="/rango/about/">About</a><br />
		<!-- <img src="{% static "booritter.jpeg" %}" /> -->
		<img src="{% static 'booritter.jpeg' %}" /><br />
		
		
		
		{% if buckets %}
			<ul>
				{% for bucket in buckets %}
				<li><a href="/lottery/bucket/{{ bucket.url }}">{{ bucket.name }}</a></li>
				{% endfor%}
			</ul>
		{% else %}
			<strong> NOPE </strong>
		{% endif %}
		
		{% if user.is_authenticated %}
		<a href="/lottery/add_bucket/">Add a bucket</a><br />
		<a href="/lottery/logout">Logout</a><br />
		
		{% else %}
		<a href="/lottery/register/">Register Here</a><br />
		<a href="/lottery/login">Login</a>
		{% endif %}
	
		
    </body>

</html>