{% extends 'lottery/base.html' %}

{% block title %} Fishbowl {% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<h1>Login to Fishbowl</h1>
	</div>
		<div class="container">
		<form class="form-signin span4" id="login_form" method="post" action="/lottery/login/">
			{% csrf_token %}
			Username: <input type="text" name="username" value="" size="50" />
			<br />
			Password: <input type="password" name="password" value="" size="50" />
			<br />
			
			 <button class="btn btn-primary" type="submit">Sign in</button>
		</form>
		</div>
	</div>	
{% endblock %}